@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url(../../public/font/Rubik/static/Rubik-Regular.ttf);
}

@font-face {
    font-family: "Rubik Medium";
    src: url(../../public/font/Rubik/static/Rubik-Medium.ttf);
}

@font-face {
    font-family: "Rubik Light";
    src: url(../../public/font/Rubik/static/Rubik-Light.ttf);
}

body {
    font-size: 16px;
    font-family: "Rubik Medium";
    color: #363636;
}

.c-blue-500 {
    color: #22578D
}


.c-green-500 {
    color: #22828D;
}

.c-grey-500 {
    color: #808080;
}

.c-grey-900 {
    color: #363636;
}

.b-grey-50 {
    background: #f2f2f2;
}

.border-grey-900 {
    border-color: #363636;
}

.border-grey-100 {
    border-color: #D8D8D8;
}

.b-blue-50 {
    background: #E9EEF4;
}

.b-blue-500 {
    background: #22578D
}

.b-green-500 {
    background: #22828D;
}

.c-grey-50 {
    color: #F2F2F2
}

.linier-blue-900 {
    background: linear-gradient(142.01deg, #0E253B 44.02%, rgba(14, 37, 59, 0.77) 107.67%);
}

h1.title-banner {
    font-size: 54px;
    line-height: 81px;
}

h4.title-section {
    font-size: 36px;
    line-height: 150%;
}

.card-solution {
    border: 2px solid;
    border-image-source: linear-gradient(29.32deg, rgba(34, 130, 141, 0.44) 20.08%, rgba(34, 130, 141, 0.15) 78.87%);
}

.desc-banner {
    font-size: 24px;
    line-height: 36px;
}

.w-page {
    width: 100%;
}

.mr-card {
    margin-right: 80px
}

.card-page-success {
    padding-top: 175px;
    padding-bottom: 165px
}

.w-card-container {
    width: 100%;
}

/*// Extra small devices (portrait phones, less than 360px)*/

@media (min-width: 320px) and (max-width: 575px) {
    .w-card-container {
        padding: 0 16px;
    }

    .header {
        background-color: #ffffff !important;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    }

    h1.title-banner {
        font-size: 36px;
        line-height: 54px;
    }

    .desc-banner {
        font-size: 16px !important;
        line-height: 24px !important;
    }

    h4.title-section {
        font-size: 24px;
    }

    .mr-card {
        margin: 0 16px;
        padding: 0;
        padding-bottom: 100px;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1366px) {
    .w-page {
        width: 100%;
    }

    .w-card-container {
        width: 1204px
    }

    body {
        font-size: 14px;
    }

    .desc-banner {
        font-size: 18px;
    }

    h1.title-banner {
        font-size: 42px;
        line-height: 60px;
    }

    h4.title-section {
        font-size: 24px;
    }

}

@media (min-width: 1367px) and (max-width: 5000px) {
    .w-page {
        width: 1920px;
    }

    .w-card-container {
        width: 1520px
    }

    .mr-card {
        margin-right: 200px
    }

    .card-page-success {
        padding-top: 227px;
        padding-bottom: 213px
    }

    .desc-banner {
        font-size: 24px !important;
        line-height: 36px !important;
    }
}